#body {

}

#navbar {
width: 100%;
position: fixed;
background-color: rgb(255, 255, 255);


}



#navbar ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  color:rgb(0, 0, 0);
font-size: 20px;
float: right;
padding: 30px;

}
#navbar li {

  padding : 20px 20px;
  margin : 0.2px;
  margin-left: 0px;

  
}
.topnav input[type=text] {
 float: right;
  padding: 6px;
  border: none;
  margin-top: 90px;
  margin-right: 400px;
  margin-left: 850px;
  font-size: 17px;
  position: fixed;
    }

#banner {
      
      height: 900px;
      width: 1340px;
       margin : 0;      
      
  }
  #header {
  background-color: #ffffff; /* Grey background */
  padding: 50px 20px; /* Some padding */
  color: black;
  text-align: center; /* Centered text */
  font-size: 90px; /* Big font size */
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 30%; /* Full width */
  transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
  z-index: +1; 
}
  
.topnav input[type=text] {
 float: right;
  padding: 6px;
  border: none;
  margin-top: 90px;
  margin-right: 400px;
  margin-left: 550px;
  margin-bottom: 100px;
  font-size: 17px;
  position: fixed;
    


  }
  table {
  font-family: arial, sans-serif;
background-color: black;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: center;
  padding: 8px;
  color: white;
  text-decoration: underline;
}

tr:nth-child(even) {
  background-color: #000000;
}

h4{
color: white;
background-color: black;
font-family: monospace;
padding-top: 20px;
margin-top: 0px;
margin-bottom: 0px;
}

label {
  padding-left: 200px;
}
#image {
 
  padding: 20px;
  padding-top: 10px;
  margin-top: 10px;
  padding-left: 180px;
}
#violins {
  padding: 20px;
  padding-top: 10px;
  margin-top: 10px;
  padding-left: 30px;
}

.checked {
  color: orange;
}
#Info {
 
  padding-left: 550px;
}
#Info2 {
  padding-left: 500px;
}
#paragraph {
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
}
#para2 {
  text-align: center;
  padding-left: 20px;
  padding-top: 20px;
}
#para3 {
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
}
h5 {
  text-align: center;
  padding-left: 20px;
  padding-top: 20px;
  font-size: large;

}
h6 {
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
 font-size: medium;
}
a:link {
  text-decoration: none;
  color: rgb(210,180,140);
}

a:visited {
  text-decoration: none;
  color: rgb(210,180,140)
  ;
}

a:hover {
  text-decoration: underline;
  color: rgb(210,180,140)
  ;
}

a:active {
  text-decoration: underline;
}